/* Overall */

html {
  background-color: #72be70;
}

/* App.jsx */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.TopBanner {
  padding: 5px;
  background-color: #61dafb;
}

hr {
  border: 0;
  height: 1px;
  width: 90%;
  background: #333;
  background-image: linear-gradient(
    to right,
    rgb(103, 238, 98),
    rgb(0, 26, 2),
    rgb(103, 238, 98)
  );
}

/* AddItemForm */

.formWrapper {
  background-color: #67b164;
  border-bottom: 1.5px solid black;
  margin-bottom: 10px;
  padding-top: 5px;
}

.formWrapper input {
  border: 1px solid rgba(0, 0, 0, 0.568);
  padding: 3px;
  color: white;
  background-color: #4caf50;
  margin-bottom: 15px;
  margin-right: 10px;
}

.formWrapper input:acitve {
  border: 1px solid #61dafb;
}

.formWrapper input::placeholder {
  color: rgba(255, 255, 255, 0.507);
}

.formWrapper select {
  border: 1px solid rgba(0, 0, 0, 0.568);
  background-color: #4caf50;
  padding: 3px;
  color: white;
}

.formWrapper button {
  border: 1px solid rgba(0, 0, 0, 0.568);
  background-color: rgb(50, 119, 52);
  padding: 5px;
  color: white;
  margin-left: 10px;
}

.formWrapper button:hover {
  background-color: #4caf50;
}

/* SortedPage */

.sortedItemContainer {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}

.sortedItemContainer input[type="checkbox"] {
  -webkit-appearance: none;
  padding: 20px;
  background-color: rgb(74, 179, 77);
  border: 1px solid rgb(50, 119, 52);
}

.sortedItemContainer input[type="checkbox"]:checked {
  /* background-color: black; */
  background-image: url("./images/checkmark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sortedCard {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.sCardText {
  background-color: #4da34a79;
  margin: 7px;
  padding: 20px;
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0, 0.397);
}

#check-sorted:checked ~ .sortedCard {
  color: rgba(0, 0, 0, 0.342);
  text-decoration: line-through;
}

/* ItemSorter */

.sorterItem {
  width: 50%;
  margin: auto;
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid rgb(50, 119, 52);
}

.removeButton {
  /* margin-bottom: 20px; */
  border: 1px solid rgba(0, 0, 0, 0.397);
  background-color: #f44336;
  border-radius: 1px;
}

.removeButton:hover {
  background-color: #f36156;
}

.sortButton {
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin: 15px 0px;
  border: 1px solid rgba(0, 0, 0, 0.397);
  background-color: #4caf50;
  padding: 10px;
  border-radius: 1px;
}

.sortButton:hover {
  background-color: rgb(107, 175, 109);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
