/* Overall */

@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
  font-family: "Overpass", sans-serif;
  background-color: #72be70;
  font-size: 2em;
}

/* App.jsx */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.TopBanner {
  padding: 5px;
  background-color: #61dafb;
}

hr {
  border: 0;
  height: 1px;
  width: 90%;
  background: #333;
  background-image: linear-gradient(
    to right,
    rgb(103, 238, 98),
    rgb(0, 26, 2),
    rgb(103, 238, 98)
  );
}

/* AddItemForm */

.formWrapper {
  background-color: #67b164;
  border-bottom: 1.5px solid black;
  margin-bottom: 10px;
  padding-top: 5px;
}

.addItemForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.formWrapper input {
  font-size: 0.8em;
  border: 1px solid rgba(0, 0, 0, 0.568);
  padding: 0.11em;
  color: white;
  background-color: #4caf50;
}

.formWrapper input:active {
  border: 1px solid #61dafb;
}

.formWrapper input::placeholder {
  color: rgba(255, 255, 255, 0.507);
}

.formWrapper select {
  font-size: 0.7em;
  border: 1px solid rgba(0, 0, 0, 0.568);
  background-color: #4caf50;
  padding: 0.16em;
  margin: 0px 0.6em;
  color: white;
}

.formWrapper button {
  font-size: 0.7em;
  border: 1px solid rgba(0, 0, 0, 0.568);
  background-color: rgb(50, 119, 52);
  padding: 0.19em;
  color: white;
}

.formWrapper button:hover {
  background-color: #4caf50;
}

/* SortedPage */

.sortedItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(50, 119, 52);
}

.sortedCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sCardText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vmax;
  height: 20vmax;
  background-color: #4da34a79;
  margin: 50px 10px 0 0;
  padding: 20px;
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0, 0.397);
  font-size: 1.4em;
  font-weight: 700;
}

.sCardTextCheck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vmax;
  height: 20vmax;
  background-color: #96a79679;
  color: rgba(0, 0, 0, 0.342);
  text-decoration: line-through;
  margin: 50px 10px 0 0;
  padding: 20px;
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0, 0.397);
  font-size: 1.4em;
  font-weight: 700;
}

/* ItemSorter */

.sorterItem {
  width: 65vw;
  margin: auto;
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid rgb(50, 119, 52);
}

.removeButton {
  font-size: 0.6em;
  border: 1px solid rgba(0, 0, 0, 0.397);
  background-color: #f44336;
  border-radius: 1px;
}

.removeButton:hover {
  background-color: #f36156;
}

.sortButton {
  color: white;
  font-size: 0.6em;
  font-weight: 400;
  margin: 30px 0px;
  border: 1px solid rgba(0, 0, 0, 0.397);
  background-color: #4caf50;
  padding: 10px;
  border-radius: 1px;
}

.sortButton:hover {
  background-color: rgb(107, 175, 109);
}

/* media query */

@media screen and (max-width: 1140px) {
  body {
    font-size: 1.5em;
  }

  .sorterItem {
    width: 80vw;
  }

  .sortButton {
    font-size: 0.8em;
    margin: 25px, 10px;
  }
}

@media screen and (max-width: 820px) {
  body {
    font-size: 1.1em;
  }

  .sortButton {
    font-size: 1.1em;
    margin: 25px, 10px;
    padding: 30px, 25px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
